{% extends 'blog/base.html' %}
{% load static %}

{% block content %}
<div class="col-sm-10">
    <h3 class="text-white my-5">About Page</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
    Doloremque quod obcaecati vero distinctio, eum quam a repellendus
    dolores. Ex, eius. Qui ea quas dolores ab veritatis unde possimus
    earum sit.</p>

    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.
    Fugit sit, repellendus vitae quos soluta maiores aut, necessitatibus omnis,
    perferendis totam itaque doloremque debitis excepturi molestiae corporis ut
    vero non doloribus. Assumenda optio omnis adipisci asperiores! Maxime illum ea,
    quo perspiciatis illo tempore, autem doloribus beatae eius eum tempora tenetur ad.
    </p>
</div>

{% endblock content %}